<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">

    <title>Loginpage</title>
</head>

<body>
    <div class="container">
        <main id="maintable">
            <div class="imgcontainer">
                <img id="img" src="images/loginimg.png" alt="Avatar" class="avatar">
            </div>
            <h1 id="header">Login</h1>

            <form id="loginform">
                <input type="text" name="username" id="username" class="loginform2" placeholder="Username">
                <input type="password" name="password" id="password" class="loginform2" placeholder="Password">
                <input type="submit" value="Login" id="submitform">
                <div id="mainerrormsg">
                    <p id="errormsg1">Invalid username <span id="errormsg2">and/or password</span></p>
                </div>
            </form>

        </main>
    </div>


    <script src="/js/login.js"></script>
</body>


</html>